@use "../_global" as *;

/* Hero section */
#hero-section {
  width: 100%;
  min-height: 100vh;
  background-image: url("/src/images/hero/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
}