@use "../_global" as *;

/* Main section */
.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 4rem;
  align-items: center;
  text-align: center;
  width: 110rem;
  margin: 0 auto;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
    width: fit-content;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    width: fit-content;
  }

  /* Box styles */
  &__box {
    width: 33rem;
    background-color: $background-white;
    box-shadow: 0px 20px 10px 0px $box-shadow-black;

    @media (max-width: 400px) {
      width: 100%;
    }

    /* Image div styles */
    &__img-div {
      width: 100%;
      height: auto;
      background-color: $background-gray;

      img {
        width: 100%;
      }
    }

    /* Description styles */
    &__descr {
      color: $text-black;
      padding: 3rem;

      h3 {
        font-size: $h4-size;
      }

      p {
        font-size: $normal-text-size;
        font-weight: 500;
        color: $text-gray;
      }
    }
  }
}
